doctype html
html(lang='en')
    head
        // Basic Page Needs
        meta(charset='urf-8')
        title A Twitter Client - Error
        meta(name='description' content='A simple Twitter interface in node.js using the Express framework')
        meta(name='author' content='Andy Stoica')

        // Mobile Specific Metas
        meta(name='viewport' content='width=device-width, initial-scale=1')

        // FONTS
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')

        // CSS
        link(rel='stylesheet' href='css/global.css')

    body
        div.bounds.app--body
            div.grid-100(style='text-align: center;')
                div.app--section
                    h1 Oh pants ... Something went wrong
                    button
                        a(href='/') Try again
