doctype html
html(lang='en')
    head
        // Basic Page Needs
        meta(charset='urf-8')
        title A Twitter Client
        meta(name='description' content='A simple Twitter interface in node.js using the Express framework')
        meta(name='author' content='Andy Stoica')

        // Mobile Specific Metas
        meta(name='viewport' content='width=device-width, initial-scale=1')

        // FONTS
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')

        // CSS
        link(rel='stylesheet' href='css/global.css')

    body
        // Main header
        include ./partials/_header.pug
        // Main footer new tweet
        include ./partials/_footer.pug

        div.bounds.app--body

            // Column headers
            div.app--section--header
                div.grid-33
                    div.app--section--heading
                        h2 Timeline

                div.grid-33
                    div.app--section--heading
                        strong 129
                        h2 Following

                div.grid-33
                    div.app--section--heading
                        h2 Direct Messages

            // Tweets column
            include ./partials/_column_tweets.pug
            // Following column
            include ./partials/_column_users.pug
            // Direct messages column
            include ./partials/_column_messages.pug
